[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

requests = "*"
pexpect = "*"
argparse = "*"
flask = "*"
paramiko = "==2.1.6"
pycrypto = "*"
twisted = "*"
sshim = "*"
mock = "*"


[dev-packages]



[pipenv]

keep_outdated = true
